
@include media-breakpoint-up(md) { 
  .block--sitebranding {
    min-width: 320px;
    margin-right: 1em;
  }
  .block--sitebranding .navbar-brand {
    justify-content: center;
  }
  
}


.block--mainnavigation .nav > li.nav-item {
  margin-right: 0.5em
}

.main___nav .nav > li.nav-item > a.nav-link {
  font-weight: bold;
  color: black;
  font-size: 0.9rem;
  border-bottom: 2px solid transparent;
}



.main___nav .nav > li.nav-item > a.nav-link.is-active {
  color: $primary;
}

@include media-breakpoint-up(md) { 
  .main___nav .nav > li.nav-item > a.nav-link.is-active { 
    border-bottom: 2px solid $primary;
  }
}

.block--useraccountmenu {
  margin-right: 3rem;
}