// Page: Content
// -----------------------------------------------------------------------------

#outer_sidebar_left {
  height: 100vh;
  width: 16rem;
}

.page__content {

}

#sidebar_left,
#sidebar_right {
  width: 20rem;
  height: calc(100vh - 57.71px);
  overflow-y: auto;
}
