// @include media-breakpoint-up(xs) { ... }
// @include media-breakpoint-up(sm) { ... }
// @include media-breakpoint-up(md) { ... }
// @include media-breakpoint-up(lg) { ... }
// @include media-breakpoint-up(xl) { ... }

// Main Layout
// -----------------------------------------------------------------------------
.flex-fill-two-col {
  flex: 1 0 !important
}


// Page: Various Components
// -----------------------------------------------------------------------------

// Modals
@include media-breakpoint-up(lg) { 
  .modal-dialog {
    max-width: 960px;
  }
}


// Page: Content
// -----------------------------------------------------------------------------

body.no_scroll {
  overflow: hidden;
}

#outer_sidebar_left {
  height: 100vh;
  width: 16rem;
}

@include media-breakpoint-up(xs) { 
  #sidebar_left,
  #sidebar_right {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: -100%;
  }
  #sidebar_left.open {
    left: 0;
    background-color: white;
    z-index: 9999;
    height: 100%;
  }
}

@include media-breakpoint-up(lg) { 
  #sidebar_left,
  #sidebar_right {
    width: 20rem;
    height: calc(100vh - 57.71px);
    position: sticky;
    top: 57.71px;
    left: 0;
  }
  #sidebar_left.open {
    background-color: unset;
  }
}



// .brenham-flipped .radix-layouts-header {
//   margin-bottom: 1rem;
//   padding-bottom: 1.5rem;
//   border-bottom: $border-width solid $border-color;
// }

// .brenham-flipped .radix-layouts-content {
//   padding-right: 5rem;
// }


.panel-panel-inner .field__label {
  font-weight: lighter !important;
  font-size: $h5-font-size;
  color: $text-muted;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}
.panel-panel-inner .field__item {
  margin-bottom: 2.5rem;
}