.views-exposed-form.block form > .form-item {
  border-bottom: $border-width solid $border-color;
  padding-bottom: 1rem;
}

.views-exposed-form.block form > .form-item:last-of-type {
  border-bottom: 0;
}

.views-exposed-form.block form > .form-item > label {
  text-transform: uppercase;
  font-weight: 300;
}

.sidebar__left .views-exposed-form.block form > .form-actions {
  position: sticky;
  bottom: 0;
  left: 0;
  padding: 1.5em 1em;
  background: white;
  border-top: $border-width solid $border-color;
}

/**
* auto complete
*/
.js input.form-autocomplete {
  background-position: 97% center;
}

.ui-autocomplete li > a {
  display: block;
}
.ui-autocomplete li > a:hover,
.ui-autocomplete li > a:focus {
  text-decoration: none;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	border: 1px solid #003eff;
	background: white;
	color: #003eff;
}